<%= form_with(model: item, local: true) do |form| %>
  <% if item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(item.errors.count, "error") %> prohibited this item from being saved:</h2>

      <ul>
      <% item.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="main">
    <div class="form-group">
      <%= form.label :status %>
      <%= form.select :status, ['todo', 'doing', 'done'], class:'form-control' %>
    </div>

    <div class="form-group">
      <%= form.label :description %>
      <%= form.text_field :description, class:'form-control' %>
    </div>

    <div class="form-group">
    <%= link_to fa_icon('caret-left solid'), items_path, class: 'card-link big' %>
    <%= form.submit "Confirm", class: 'btn btn-primary' %>
    </div>

  </div>
<% end %>
