<% @items.each do |item| %>
    <% if item.status == status %>
        <div class="card" style="width: 18rem;">
        <div class="card-body">
        <%= link_to item.description, item, class: 'title' %>
                <div class="card-link">
                    <%= link_to fa_icon('edit solid'), edit_item_path(item) %>
                    <%= link_to fa_icon('trash solid'), item, method: :delete, data: { confirm: 'Are you sure?' } %>
                    <% if status == 'todo' %>
                        <%= link_to fa_icon('caret-right solid'),  moveR_item_path(item), method: :put %>
                    <% elsif status == 'doing' %>
                        <%= link_to fa_icon('caret-left solid'), moveL_item_path(item), method: :put %>
                        <%= link_to fa_icon('caret-right solid'),  moveR_item_path(item), method: :put %>
                    <% else %>
                        <%= link_to fa_icon('caret-left solid'), moveL_item_path(item), method: :put %>
                    <% end %>
                </div>
            </div>
        </div>        
    <% end %>
<% end %>

